/EstacaoMetereologica/nbproject/private/
/EstacaoMetereologica/build/
/Renomeada/EstacaoMetereologica/nbproject/private/
/Renomeada/EstacaoMetereologica/build/
/testeee/nbproject/private/
/outroTeste/nbproject/private/
/outroooTesteee/nbproject/private/
/outroooTesteee/build/
/testenovamenteente/nbproject/private/
/testenovamenteente/build/
/teste/nbproject/private/
/teste/build/
/comxhtml/nbproject/private/
/CadastroEstado/nbproject/private/
/CadastroEstado/build/
/haoifhiaosfhasfi/nbproject/private/
/ArduinoBD/build/